div#nav-items {
    float: right;
    display: inline-block;
    position: relative;
}

div.nav-toggler {
    display: none;
    background-color: black;
    float: right;
    margin-top: 55px;
    padding: 25px;
    border-radius: 10px;
}

div.nav-toggler:hover {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    div.nav-toggler {
        display: inline-block;
    }

    div.nav-toggler.true {
        display: inline-block;
        background-color: white;
    }
}
